.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.headerTop {
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap:900px;
}

.headerLogo {
    color: #f9faf8;
    font-size: 24px;
}

.linkList {
    font-size: 18px;
    color:#e5e7eb;
    list-style: none;
    display:flex;
    margin:0px;
    padding: 0px;
    gap: 20px;
}

.headerBodyContainer {
    display:flex;
    padding: 50px;
    margin: 50px;
    justify-content: space-between;
    justify-content: center;
    gap:425px;
}

.miniContainer {
    justify-content: space-between;
    width:500px;
}

 .headerTitle {
    margin-bottom: 20px;
 }
 

.headerContent {
    color:#e5e7eb;
    margin-bottom: 20px;
}

.headerTitle {
    color: #f9faf8;
    font-size: 48px;
}


.button1 {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    height:50px;
    width: 150px;
    color:#e5e7eb;
    font-size: 25px;
    font-weight: bold;
}

.quote {
    background-color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
}

.headerImage {
    display: flex;
    background-color: #e5e7eb;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.imagePlace {
    color: #1f2937;
    font-style: italic;
    text-align: center;
}
